.light {
  height: 100px;
  width: 100px;
  border: 1px solid black;
}
.red {
  background: red;
}
.yellow {
  background: yellow;
}
.green {
  background: green;
}
.purple {
  background: purple;
}
.selected {
  box-shadow: 0 0px 20px 20px white;
}
